@model IEnumerable<WebApplication1.Models.ViewModels.DiplomeViewModel>
    @{
    ViewBag.Title = "Liste des DiplŰmes";
    }

    <h2>Liste des DiplŰmes</h2>

    <p>
        @Html.ActionLink("Crťer un nouveau DiplŰme", "Create", null, new { @class = "btn btn-primary" })
    </p>

    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.NomDiplome)</th>
            <th>@Html.DisplayNameFor(model => model.NiveauDiplome)</th>
            <th>@Html.DisplayNameFor(model => model.Domaine)</th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.NomDiplome)</td>
            <td>@Html.DisplayFor(modelItem => item.NiveauDiplome)</td>
            <td>@Html.DisplayFor(modelItem => item.Domaine)</td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.IdDiplome }) |
                @Html.ActionLink("Dťtails", "Details", new { id = item.IdDiplome })
            </td>
        </tr>
    }
    </table>